# AI Configuration
VITE_AI_MODEL="gemini-2.5-flash-lite"
VITE_AI_PROVIDER="gemini"

# Gemini Configuration
VITE_GEMINI_API_KEY=""
VITE_GEMINI_MODEL="gemini-2.5-flash-lite"

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=""
VITE_CLOUDINARY_UPLOAD_PRESET=""

# Other Configurations
VITE_EDITOR_ENABLE_JSON_DEVTOOLS=true

# Google Fonts API Key
VITE_GOOGLE_FONTS_API_KEY=""

# Pixabay Configuration
VITE_PIXABAY_API_KEY=""

# Unsplash Configuration
VITE_UNSPLASH_ACCESS_KEY=""